# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Final Year Project\Email_Fraud_Website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
